[Instruction Set]
;Opcode|Mnemonic |Type |Format
0      |NOP      |R    |
1      |LDB      |I    |r2, i, (r1)
2      |LDH      |I    |r2, i, (r1)
3      |LDW      |I    |r2, i, (r1)
4      |STB      |I    |r2, i, (r1)
5      |STH      |I    |r2, i, (r1)
6      |STW      |I    |r2, i, (r1)
7      |ADD      |R    |r1, r2, r3
8      |SUB      |R    |r1, r2, r3
9      |MUL      |R    |r1, r2, r3
10     |DIV      |R    |r1, r2, r3
11     |AND      |R    |r1, r2, r3
12     |OR       |R    |r1, r2, r3
13     |XOR      |R    |r1, r2, r3
14     |SLL      |R    |r1, r2, r3
15     |SRL      |R    |r1, r2, r3
16     |SRA      |R    |r1, r2, r3
17     |ADDI     |I    |r1, i, r2
18     |SUBI     |I    |r1, i, r2
19     |MULI     |I    |r1, i, r2
20     |DIVI     |I    |r1, i, r2
21     |ANDI     |I    |r1, i, r2
22     |ORI      |I    |r1, i, r2
23     |XORI     |I    |r1, i, r2
24     |SLLI     |I    |r1, i, r2
25     |SRLI     |I    |r1, i, r2
26     |SRAI     |I    |r1, i, r2
27     |LIH      |I    |r1, i
28     |BRZ      |I    |r2, j
29     |BRNZ     |I    |r2, j
30     |BRGT     |I    |r2, j
31     |BRGE     |I    |r2, j
32     |BRLT     |I    |r2, j
33     |BRLE     |I    |r2, j
34     |PUSH     |R    |r1, r2
35     |POP      |R    |r1, r2
